MONGO_CONNECTION_STRING="mongodb://usaas:BpJzwffInxKgW69l@personnal-shard-00-00.frhsq.mongodb.net:27017,personnal-shard-00-02.frhsq.mongodb.net:27017,personnal-shard-00-01.frhsq.mongodb.net:27017/bellman?ssl=true&replicaSet=atlas-6p7al6-shard-0&readPreference=primary&connectTimeoutMS=10000&authSource=admin&authMechanism=SCRAM-SHA-1"